.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    z-index: 10; 
}
  
.about {
    background: #3526E3;
    color: white;
    padding: 20px;
    z-index: 3;
    position: relative; 
    height: 100vh;
}
  
.aboutContent {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3em;
}
  
.videoContainer {
    position: relative;
    justify-self: anchor-center;
    width: 60vw;
    z-index: 3;
    height: 70%;
}
  
.aboutText {
    position: relative;
    max-width: 60vw;
    justify-self: center;
    height: 25vh;
    overflow-y: auto; 
    display: block; 
}
  
  
.aboutText p {
    font-size: 0.6em;
    text-shadow: 0px 1px 36px rgba(0, 0, 0, 0.27);
    height: 30vh;
}
  
.mainVideo {
    width: 100%;
}
  
@media (max-width: 600px) {
    .aboutContent {
        top: 100px;
    }

    .videoContainer {
        width: 90vw;
        z-index: 3;
    }

    .aboutText {
        max-width: 100%;
        height: 30vh;
    }

    .aboutText p {
        font-size: 0.7em;
    }

    .mobileMenu {
        display: block;
        position: absolute;
        top: 0px;
        width: 100vw;
        background-color: #3526E3;
        height: 50px;
        z-index: 1000;
    }
}

@media (max-height: 600px) and (min-width: 600px) {
    .aboutContent {
        top: -20px;
    }

    .aboutText {
        max-width: 45vw;
        height: 10vh;
    }

    .videoContainer {
        width: 45vw;
    }

  }