.navChange {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 48px;
    width: 48px;
    cursor: pointer;
    z-index: 900;
    font-size: 48px;
}

@media (max-width: 600px) {
    .navChange {
        top: 25px;
    }
}

@media (min-width: 600px) and (max-width: 1250px) {
    .navChange {
        top: 25px;
    }
}