.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.main, .tag, .about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.main {
  position: relative; 
  z-index: 1;
}

.tag {
  background: blue;
  color: yellow;
  font-size: 50px;
  padding: 20px;
  z-index: 2; 
  position: relative;
}

.about {
  background: red;
  color: white;
  padding: 20px;
  z-index: 3;
  position: relative; 
}

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -3;
}

.staticBackgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}

.hoverBackgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2; 
}

.logo {
  font-size: 15em;
  font-family: var(--bangs-playfair);
  text-align: center;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  position: fixed; /* Make the logo fixed */
  top: 20%; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
}

.clients {
  position: relative;
  top: 50%;
  height: 100%;
  width: 100%;
  max-width: 1300px;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4; 
  font-size: 40px;
}

.contact {
  position: relative;
  bottom: -100px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .logo {
    font-size: 5em;
  }

  .clients {
    top: 40%;
    margin: 0px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}