.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
  -webkit-scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.main, .tag, .third {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.main {
  z-index: 1;
}

.logo {
  font-size: 15em;
  font-family: var(--futura);
  font-weight: var(--heavy);
  line-height: 1em;
  text-align: center;
  width: 100%;
  max-width: 100vw;
  white-space: nowrap;
  color: yellow;
  margin-top: 0.25em;
}

.clients {
  height: 100%;
  width: 100%;
}

.tag, .third {
  font-family: var(--futura-bold);
  font-size: 3em;
  line-height: 1em;
  text-align: center;
}

.tag {
  padding: 20px;
  z-index: 2; 
  position: relative;
}

.third {
  padding: 20px;
  z-index: 3;
  position: relative; 
  margin-bottom: 0;
}

.third a {
  color: yellow;
}

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.FullscreenVideo {
  position: fixed;
  top: 50%;
  width: 100%;
  height: auto;
  max-height: 100vh;
  z-index: 9999;
}

.videoElement {
  max-width: 100vw;
}

.tagJuice, .thirdJuice {
  justify-content: space-between;
  max-width: 70vw;
}

.arrowHome {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4; 
  font-size: 40px;
  bottom: 0;
}

.arrow {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4; 
  font-size: 40px;
  bottom: -25vh;
}

.contact {
  position: relative;
  bottom: -100px;
}

.mobileMenu {
  display: none;
}

.link {
  cursor: pointer;
  color: yellow;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .mobileMenu {
    display: block;
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: #3526E3;
    height: 10px;
    z-index: 1000;
  }

  .main {
    align-items: center;
  }

  .logo {
    font-size: 4.5em;
    margin-top: 190px;
  }

  .tag, .third {
    font-size: 1.7224em;
    text-align: left;
  }

  .arrowHome {
    bottom: 10vh;
  }

  .arrow {
    bottom: -2.5em;
  }
}

@media (max-height: 600px) and (min-width: 600px) {
  .page {
    padding: 24px;
    padding-bottom: 60px;
  }

  .mobileMenu {
    display: block;
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: #3526E3;
    height: 10px;
    z-index: 1000;
  }

  .main {
    align-items: center;
  }

  .logo {
    font-size: 6em;
    margin-top: 75px;
  }

  .tag, .third {
    font-size: 1.5em;
    text-align: left;
  }

  .arrowHome {
    bottom: 10vh;
  }

  .arrow {
    bottom: -15vh;
  }
}

@media (min-width: 600px) and (max-width: 1250px) {
  .page {
    padding: 40px;
    padding-bottom: 80px;
  }

  .mobileMenu {
    display: block;
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: #3526E3;
    height: 10px;
    z-index: 0;
  }

  .main {
    align-items: center;
  }

  .logo {
    font-size: 7em;
    margin-top: 100px;
  }

  .tag, .third {
    font-size: 2em;
    text-align: center;
  }

  .arrowHome {
    bottom: 15vh;
  }

  .arrow {
    bottom: -15vh;
  }
}